<!DOCTYPE html>
<html>
    <head>
        <title>Doorbird Control</title>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <div class="header">
        <h1>Doorbird Control</h1>
    </div>
    <div class="navbar">
        <table width="100%" style="table-layout: fixed;">
            <tbody>
                <tr>
                    <td>
                        <a href="/">Settings</a>
                    </td>
                    <td>
                        <a href="/motion">Motion</a>
                    </td>
                    <td>
                        <a href="/ring">Ring</a>
                    </td>
                    <td>
                        <a href="/current">Current</a>
                    </td>
                    <td>
                        <a href="/logs">Logs</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>