<html>
 <head>
  <title>Doorbird Control</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1">
  <style>
   body {
    font-family: Arial;
    margin: 0;
    background: #A3C4BC;
   }
   .header {
    padding: 30px;
    text-align: center;
    background: #413C58;
    color: white;
    font-size: 30px;
   }
   .content {
    padding:20px;
   }
   .table {
    background: #BFD7B5;
   }
   .tableheader {
    background: #8B80F9;
   }
  </style>
 </head>
 <div class="header">
  <h1>Doorbird Control</h1>
 </div>
 <body>
  <div class="content">
  </div>
 </body>
</html>
