<!DOCTYPE html>
<html>
    <head>
        <title>Doorbird Control</title>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <div class="header">
        <h1>Doorbird Control</h1>
    </div>
    <body onload="populateEvents()">
        <div class="content">
            <div>
                <label for="motionevents">Motion Events</label>
                <select name="motionevents" id="motionevents"></select>
            </div>
        </div>
    </body>
</html>

<script>
    async function populateEvents(){
        await fetch("/motion_events")
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
                var select = document.getElementById("motionevents");
                var i, L = select.options.length - 1;
                for(i = L; i >= 0; i--) {
                    select.remove(i);
                }
                for(var i = 0; i < jsonResponse.length; i++) {
                    var opt = jsonResponse[i];
                    var el = document.createElement("option");
                    el.textContent = opt;
                    el.value = opt;
                    select.appendChild(el);
                }
            });
    }
</script>